
/* applicationpage */
.container {
    bottom:0;
    display: flex;
    padding: 3rem;
    
  }
  
  .button {
    padding: 0.2rem 1rem;
    color: white;
    background: transparent;
    border-radius: 9999px;
    font-size: 1rem; /* text-sm in Tailwind */
    display: flex;
    align-items: center;
    border: 2px solid white;
  }
  
  .button:hover {
    background-color: white;
    border: 2px solid #483d73;
    color: #483d73;
  }
  
  .icon {
    background-color: white;
    color: #483d73;
    border-radius: 9999px;
    height: 1rem; /* h-4 in Tailwind */
    width: 1rem; /* w-4 in Tailwind */
    padding: 0.25rem; /* p-1 in Tailwind */
    margin-left: 0.5rem; /* ml-2 in Tailwind */
    margin-top: 0.125rem; /* mt-[2px] in Tailwind */
  
  }
  
  .button:hover .icon {
    background-color: #483d73;
    color: white;
  }

  /* founderpage */
  
  .card {
    position: relative;
    background-color: black;
    border-radius: 1rem;
    padding: 0.80rem; /* Adjust as needed */
    color: white;
    border: 2px solid;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }
  
  .card:hover {
    background-color: white;
    color: black;
    border-color: black;
  }
  
  .imageContainer {
    position: relative;
  }
  
  .image {
    border-radius: 2xl;
    transition: transform 0.3s ease-in-out;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px ;
    
  }
  
  .icons {
    position: absolute;
    top: 1rem; /* Adjust as needed */
    right: 1.20rem; /* Adjust as needed */
    color: black;
    font-size: 1.27rem; /* Adjust as needed */
    cursor: pointer;
  }
  
  .content {
    position: relative;
  
  }
  
  .nameTitle {
    font-size: 1.100rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    
  }
  
  .linkedinIcon {
    margin-left: 0.5rem;
  }
  
  .descriptionContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    color: black;
    overflow: hidden;
    height: 50%; /* Adjust height based on how much of the image you want to cover */
    transform: translateY(150%);
    transition: transform 0.3s ease-out;
  }
  
  .card:hover .descriptionContainer {
    transform: translateY(0);
    height: 250%;
  }

  /* gallerycss */

  /* styles.css */

  .imageScaleUp {
    animation: scaleUp 25s ease-in-out infinite ;
  }

  .imageTranslateUp {
    animation: translateUp 25s forwards infinite;
  }
  
  @keyframes scaleUp {
    /* starting */
    0% {
      transform: scale(0.90);  
    }
    /* scaleup */
    50% {
      transform: scale(1.1);  
    }
    /* originalsize */
    100% {
      transform: scale(0.90);  
    }
  }

    @keyframes translateUp {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
      100% {
        transform: translateY(0);
      }
    
  }




/* Add more animations as needed */

  
  
  